%header.navbar.navbar-fixed-top
	.navbar-inner
		.container
			= link_to "Aikido", '#', id: "logo"
			%nav
				%ul.nav.pull-right
					%li= link_to "Home", root_path 
					%li= link_to "Where n When", wherenwhen_path 
					%li= link_to "Instructors", instructors_path
					%li= link_to "Aikido FAQ", aikidofaq_path
					%li= link_to "Gallery", gallery_path
					%li= link_to "Our Friends", ourfriends_path